.appointment-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align image and form */
  padding: 60px 80px;
  background-color: white;
  gap: 40px;
  flex-wrap: wrap;
}

.appointment-left {
  flex: 1;
  min-width: 320px;
  max-width: 600px;
}

.appointment-left h1 {
  font-size: 36px;
  color: #081c47;
  margin-bottom: 10px;
}

.appointment-left p {
  margin-bottom: 30px;
  color: #555;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.input-row input,
.input-row select,
textarea {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  color:black;
}

textarea {
  resize: vertical;
  background-color: white;
}

.submit-btn {
  background-color: #001c54;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: #003080;
}

.appointment-right {
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-right img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
